################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HahaDel/bin/Debug
/HahaDel/obj/Debug
/HahaMarker/bin/Debug
/HahaMarker/obj/Debug
/packages
/.vs/HahaDel
